.ant-menu-item {
  background-color: #129990 !important;
  color: #FFFBDE !important;
  margin: 0 !important;
  width: 100% !important;
}

.ant-menu-item:hover {
  background-color: #90D1CA !important;
}

.ant-menu-item-selected {
  background-color: #FFFBDE !important;
  color: #129990 !important;
}

.ant-menu {
  background-color: #129990 !important;
}

.ant-menu-inline-collapsed {
  width: 80px !important;
}

.ant-menu-inline-collapsed .ant-menu-item {
  padding: 0 24px !important;
}

.ant-layout-sider-trigger {
  background-color: #096B68 !important;
} 